* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(239, 243, 243);
}

.reviews {
  overflow: hidden;
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detail {
  white-space: nowrap;
  transition: transform 0.3s;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
  padding: 2rem;
}

.review {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  border-radius: .3rem;
  height: 30rem;
}

.review-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.review h1 {
  font-weight: 400;
  font-size: 1.5rem;
}

.review p {
  text-align: center;
  white-space: normal;
  padding: 0 1rem;
}

.reviewbtns {
  position: absolute;
  bottom: 10rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviewbtns button {
  border: none;
  font-size: 1.3rem;
  background-color: transparent;
  color: rgb(71, 71, 116);
  cursor: pointer;
}

/*
.detail {
  display: flex;
}
*/