* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
}

.reviews {
  width: 40rem;
  height: 28rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: .3rem;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

h1 {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.8rem;
}

h2 {
  margin-bottom: .7rem;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(141, 141, 245);
}

p {
  text-align: center;
  line-height: 1.5rem;
}

.reviewbtns {
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: rgb(141, 141, 245);
  font-size: 1.5rem;
}

